<!DOCTYPE html>
<html ng-app="formApp">
<head >
  <meta charset="utf8">
  <title>Steroids App</title>

  <link rel="stylesheet" href="/components/ionic/css/ionic.min.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-touch/angular-touch.min.js"></script>

  <script src="/components/lodash/dist/lodash.min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>

  <script src="/components/jquery/dist/jquery.min.js"></script>

  <script src="javascripts/flightnoform.js"></script>

</head>
<body ng-controller="FormCtrl">

  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Flight Number</span>
      <input type="text" ng-model="flightNum" placeholder="AA1111">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Departure Date</span>
      <input type="date" ng-model="flightDate" placeholder="yyyy/MM/dd">
    </label>
  </div>

  <button class="button button-full button-positive" ng-click="addFlight()">
    Add Flight
  </button>


   <button class="button button-full button-positive" ng-click="getFlights()">
   GetFlights
  </button>

     <button class="button button-full button-positive" ng-click="removeFlights()">
   Remove Flights
  </button>

</body>
</html>
