<div ng-controller="IndexCtrl">
  <ul class="list">
    <li class="item item-icon-right" ng-click="open(flight.id)" ng-repeat="flight in flights">
      <h2>{{ flight.name }}</h2>
      <br>
      Scheduled Departure: {{ flight.reportedDepartureTime }}
      <br>
      Estimated Departure: {{ flight.estimatedDepartureTime }}
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ul>
  


</div>

<div ng-controller="FetchController">
<input type="text" ng-model="url" size="80"/>
<button id="fetchbtn" ng-click="fetch()">fetch</button><br>

<span>{{url}}</span>
<span>Flight Number:</span> <input type="text" ng-model="flightNumber">
<span>Date:</span><input type="text" ng-model="date">


<pre>http status code: {{status}}</pre>
<pre>http response data: {{data}}</pre>





</div>

