<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Steroids App</title>

  <link rel="stylesheet" href="/components/ionic/css/ionic.min.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-touch/angular-touch.min.js"></script>
  <script src="/components/angular-resource/angular-resource.min.js"></script>

  <script src="/components/lodash/dist/lodash.min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</head>
<body class="content">
<br>
<br>
<br>
<br>
<center>
<p style = "color: red">
Weather
<br>
Thursday, November 6th
<br>
Mostly cloudy currently. A high of 29 degrees. Chance of snow high, with a lot of 15 degrees.
</p>
</center>
  <ul class="list">
    <li class="item item-icon-right">
      <b>Chicago O'Hare (ORD)</b>
      <br>
      This airport is conjested due to delayed
		flights and snow strom issues. If possible
		plan your for an alternate day...
    </li>
    <li class="item item-icon-right">
      <b>Newark Liberty International (EWR)</b>
      <br>
		Airport is small for the number of
		flights it handles. Avoid over-night
		stays in terminal due to safety...
    </li>
  </ul>
</body>
</html>
